body{
    background-color: rgb(30, 95, 63);
    
    font-style: italic;
    font-family: serif;
}

#logo{
    float: right;
    padding-right: 150px;
    padding-top: 40px;
}

#tituloPrincipal{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 70pt;
    font-style: normal;
    padding-left: 100px;
    padding-top: 120px;
}

#paragrafoPrincipal{
    font-family: 'Nothing You Could Do', cursive;
    padding: 0px 0px 0px 100px;
    font-size: 25pt;
}

.menuPrincipal{
    list-style: none;
    border: 1px;
    float: left;
    font-size: 20px;
    padding: 0px 150px 10px 200px;
    margin-bottom: 50px;

}

/*position:relative; para que futuramente possamos posicionar o submenu.*/
.menuPrincipal li{
        position:relative; 
        float:left; 
        border-right:1px solid #c0c0c0; 
        padding: 0px 50px 0px 50px;

}

.menuPrincipal LI a{
    color:#333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menuPrincipal li a:hover{
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0 #CCC;
    text-shadow: 0px 0px 5px #fff;
}

hr{
    color: rgb(19, 15, 15);
    width: 75%;
    height: 1px;
}
 
article{
    padding-top: 70px;
}
/* abaixo RODAPE, onde criei uma div chamada rodape, foi utilizado o verde para fins visuais, no final será excluído*/
.rodape{
    float: left;
    width: 100%;
    height: 300px;
    list-style: none;
    text-decoration: none;
    
}
/*
foi criada uma lista dentro do rodape, a fim de dividir o conteudo e facilitar na configuração, cores e bordas também serão eliminadas no final
*/
.rodapeEsquerdo{
    width: 30%;
    height: 300px;
    border-right:1px solid #c0c0c0; 
    display: block;
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: 10px solid gray;
    border:1px solid black;
    margin: 0px;
}

.rodapeCentro{
    width: 30%;
    height: 300px;
    border-right:1px solid #c0c0c0; 
    display: block;
    float: left;
    padding: 0px 10px 0px 0px;
    border-right: 10px solid gray;
    border:1px solid black;
    margin: 0px 0px 0px 10px;
    
}

.rodapeDireito{
    width: 30%;
    height: 300px;
    display: block;
    float: left;
    padding: 0px 10px 0px 0px;
    border:1px solid black;
    margin: 0px 0px 0px 10px;
    
}

/* configurando os icones das redes sociais*/

.face_icon{
    display: inline;
    position: relative;
    padding: 10px;    
    margin-left: 220px;
    
}

.insta_icon{
    display: inline;
    position: relative;
    padding: 10px;

}

.whats_icon{
    display: inline;
    position: relative;
    padding: 10px;

}

/* abaixo codigos do formulario*/

form {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  form .form-group {
    margin-bottom: 16px;
  }
  form .form-group label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  form .form-group input,
  form .form-group select {
    display: block;
    font-size: 16px;
    width: 97%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 9px;
  }
  
  form .button-group {
    text-align: center;
  }
  form .button-group a {
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
  form .button-group a:hover {
    text-decoration: underline;
    background-color: red;
    color: #fff;
  }
  
  form button {
    border: 1px solid #ccc;
    background-color: #666;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: all 1s;
    cursor: pointer;
    margin-right: 10px;
  }
  form button:hover {
    background-color: blue;
    padding: 20px;
  }